body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 700px;
    margin: auto;
    margin-bottom: 50px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #444;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 15px;
    box-sizing: border-box;
}

button {
    background-color: #B8860B;
    color: white;
    border: none;
    padding: 12px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a77500;
}

#cabecalho-faq {
    position: relative;
    padding: 20px;
    text-align: center;
  }

.btn-voltar {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 15px;
    background-color: #B8860B;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 45px;
}

.btn-voltar:hover {
    background-color: #a77500;
}